@{
    ViewData["Title"] = "Products";
}

<div class="container">
    <div class="row">
        <div class="col">
			<form asp-action="Create" method="post" class="form-inline mb-3">
               <input type="text" class="form-control mb-3" placeholder="Name" asp.for="Name" name="Name">
               <input type="text" class="form-control mb-3" placeholder="Description" asp.for="Description" name="Description">
               <input type="number" class="form-control mb-3" placeholder="Price" asp.for="Price" name="Price">
			   <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Create New Product</button>
                </form>
        </div>
    </div>
</div>
